<div *ngIf="isLoading" class="absolute inset-0 bg-gray-200 bg-opacity-75 flex justify-center items-center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading" class="w-[70%] mx-auto p-2 pt-16">
  <div class="flex flex-row justify-between mb-6 mt-12 w-full">
    <div class="flex flex-row space-x-8 pb-2 w-4/6 overflow-auto items-center">
      <div *ngFor="let team of teams; let i = index">
        <button>
          <ng-container *ngIf="i === 0; else otherItems">
            <span class="bg-gradient-to-r from-cyan-400 to-cyan-500 text-2xl rounded-md px-6 py-1 flex items-center border-2 border-cyan-100" style="cursor: default;">
              {{ team.name }}
            </span>
          </ng-container>
          <ng-template #otherItems>
            <span 
              class="bg-gradient-to-r from-orange-400 to-red-400 text-xl rounded-md px-4 flex items-center hover:shadow-xl hover:from-orange-300 hover:to-red-300" 
              (click)="onSelectTeam(i)"
            >
              {{ team.name }}
            </span>
          </ng-template>
        </button>
      </div>
    </div>
    <app-search-bar></app-search-bar>
  </div>
  <div *ngIf="teams!!" class="gap-6 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mb-10">
      <div
      *ngIf="!!teamOwner"
        class="bg-red-100 shadow-lg hover:shadow-2xl rounded-2xl border-white border-4">
        <app-profile-card
          [user]="teamOwner">
        </app-profile-card>
      </div>
      <div
        class="bg-red-100 shadow-lg hover:shadow-2xl rounded-2xl border-white border-4"
        *ngFor="let member of teams[0].members">
        <app-profile-card
          [user]="member">
        </app-profile-card>
      </div>
  </div>
</div>
