<nav class="bg-white md:p-2 shadow-inner font-medium fixed w-full">
    <div class="flex md:flex-row flex-col justify-between items-center w-[70%] mx-auto">
        <div class="text-xl">
            <a class="mr-12 hover:underline transition-all duration-300 ease-in-out" href="#">My Teams</a>
            <a class="hover:underline" href="#">Managed Teams</a>
        </div>
        <div>
            <button>
                <img class="size-11" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
            </button>
        </div>
    </div>
</nav>
